/*
* {
    background-color: rgb(188, 249, 249);
}
*/
.heading {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(78, 65, 12);
    background-color: rgb(138, 240, 240); 
    padding: 8px;
    margin: 20px;
    border: 20px;
    border-color: aquamarine; 
    box-sizing: border-box;
}

.home-text {
    text-align: center;
}

.home-list {
    text-align: center;
}
/*
.my-ul {
    display: inline-block;
    text-align: left;
    text-decoration: none;
  }

.my-ul:link {
    color: darkgoldenrod;
    text-decoration: none;
}

.my-ul:hover {
    color: blue;
    text-decoration: none;
}
*/

.my-ul:link, .my-ul:visited {
    background-color: rgba(255, 255, 255, 0.549);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .my-ul:hover, .my-ul:active {
    background-color: rgba(255, 255, 255, 0.282);
  }
  